/* Constants */
$mobileResponsiveWidth: 768px;
$desktopResponsiveWidth: 1200px;
$defaultOpacityForShadow: 0.3;
$defaultHoverDarkenRatio: 10%;

/* Colors */
$mainFontColor: #333;
$mainBackgroundColor: #f6f6f6;

/* Interaction colors */
$whiteHoverBackground: rgba(220,220,220, 0.1);