/* Constants */
$mobileResponsiveWidth: 768px;
$desktopResponsiveWidth: 1200px;
$defaultOpacityForShadow: 0.3;
$defaultHoverDarkenRatio: 10%;

/* Colors */
$mainFontColor: #333;
$defaultLineHeight: 130%;
$mainBackgroundColor: #F6F5F1;

$mainColor: #baceb9;

/* Interaction colors */
$whiteHoverBackground: rgba(220,220,220, 0.1);