/* Constants */
$mobileResponsiveWidth: 768px;
$desktopResponsiveWidth: 1200px;
$defaultOpacityForShadow: 0.3;
$defaultHoverDarkenRatio: 10%;

$mainFontFamily: "Cormorant Garamond";

/* Colors */
$mainFontColor: #333;
$defaultFontSize: 20px;
$defaultLineHeight: 1.4;
$mainBackgroundColor: #F6F5F1;

$mainColor: #9cb99a;
$secondaryColor: #78678b;

$lightBorderColor: rgba(40,40,40, 0.1);

/* Interaction colors */
$whiteHoverBackground: rgba(220,220,220, 0.1);

$redColor: #ad8e8e;