body {
    margin: 0;
    padding: 0;
    font-family: "Cormorant Garamond", "Arial";
    font-size: $defaultFontSize;
    font-weight: $regularFontWeight;
    line-height: $defaultLineHeight;
    color: $mainFontColor;
    background-color: $mainBackgroundColor;
    -webkit-font-smoothing: antialiased;
}

a {
    color:$mainColor;

    &:hover {
        color:darken($mainColor, $defaultHoverDarkenRatio);
    }
}

/* Header */
header, footer {
    picture.decorationBanner {
        display:block;
        max-width: 100%;
        max-height: 120px;
        width: 100%;

        img {
            width:100%;
        }

        &.reverse {
            transform: scale(-1, -1);
        }
    }
}

header {
    .weddingDetails {
        margin:120px auto 30px;
        width:600px;
        text-align:center;

        h1 {
            font-family: "Mrs Saint Delafield";
            font-size:72px;
            line-height:75px;
        }

        span {
            letter-spacing:2px;
            font-size:20px;
            display:block;
            margin:12px 0;
        }
    }
}

.mainMenu {
    background-color:transparent !important;
    border:none;
    font-size:18px;
    font-weight:$boldFontWeight;
    padding:40px 0;
    text-align:center;
    margin-bottom:30px;

    justify-content:center;

    li:after {
        bottom:-2px;
    }

    li.ant-menu-item-selected, li:hover, li:active {
        color: $mainColor !important;
        background-color: transparent !important;

        &:after {
            border-color: $mainColor !important;
        }
    }
}

#responsiveMenu {
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:$mainBackgroundColor;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
    z-index:1000;

    .menuSwitch {
        margin:10px;
        height:40px;
        border:none;
        background:transparent;
        cursor:pointer;
        position:relative;
        z-index:1;
        transition: all 0.3s ease-in-out;

        &:hover {
            .anticon {
                color:$mainColor;
            }
        }

        .anticon {
            transition: all 0.3s ease-in-out;
            font-size:28px
        }
    }

    span.siteTitle {
        font-family: "Mrs Saint Delafield";
        font-size:38px;
        line-height:38px;
        position:absolute;
        z-index:0;
        top:18px;
        left:0;
        right:0;
        text-align:center;
    }

    .mainMenu {
        padding:10px 0 20px;
    }
}

/* Footer */
footer {
    .weddingDetails {
        margin:50px auto 80px;
        width:180px;
        text-align:center;

        span.initials {
            font-family: "Mrs Saint Delafield";
            font-size:72px;
            line-height:72px;
            padding:0 18px 16px;
            display:block;
        }

        span.date {
            letter-spacing:2px;
            font-size:20px;
            text-transform: uppercase;
            margin:12px 0;
            border-top:1px solid #2E402D;
            padding:20px 18px 0;
            display:block;
        }

        span.copyright {
            margin-top:60px;
            display:block;
            font-size:12px;
        }
    }
}

@media (max-width: $mobileResponsiveWidth) {
    body {
        padding-top:60px;
    }

    header {
        .weddingDetails {
            width:100% !important;
            padding:0 10px;

            margin-top:60px !important;

            h1 {
                font-size:58px;
                line-height:62px;
            }
        }
    }

    footer {
        .weddingDetails {
            margin-bottom:30px;
        }
    }
}

/* Customize ant-design styles */
.ant-layout-header {
    height:auto;
    padding:0;
    line-height:$defaultLineHeight;
    background:transparent;
}

.ant-layout {
    background-color: transparent;
}

.ant-layout-footer {
    padding:0;
    background-color:transparent;
    margin:30px 0 0;
}

/* RSVP Results */
.rsvpResultsContainer {
    padding:15px;
    
    table {
        thead {
            th {
                font-weight:$blackFontWeight;
            }
        }

        .personAnswer {
            font-size:16px;
            border-bottom:1px solid $lightBorderColor;
            padding-bottom:10px;
            margin-bottom:10px;

            &:last-child {
                border-bottom:none;
                padding-bottom:0;
                margin-bottom:0;
            }

            .specialDiet {
                color: coral;
                font-weight:$blackFontWeight;
            }
        }
    }

    .summary {
        max-width:400px;
        width:100%;
        border:1px solid $lightBorderColor;
        background:#FFF;
        border-radius:5px;
        margin:30px auto;
        padding:20px;
        font-family:Lato;

        .title {
            font-weight:bold;
            margin-bottom:20px;
            text-align:center;
            font-size:24px;
            display:block;
        }

        .summaryEntry {
            display:flex;
            flex-direction: row;
            margin-bottom:5px;

            &.big {
                padding-bottom:15px;
                margin-bottom:15px;
                border-bottom: 1px solid $lightBorderColor;

                font-weight:bold;
            }

            &:last-child {
                margin-bottom:0;
            }

            .label {
                flex-grow:1;
            }

            .value {
                flex-grow:0;
            }
        }
    }
}